@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.inset-0{
  inset: 0px;
}

.bottom-0{
  bottom: 0px;
}

.bottom-\[0px\]{
  bottom: 0px;
}

.left-\[0px\]{
  left: 0px;
}

.left-\[347px\]{
  left: 347px;
}

.left-\[50\%\]{
  left: 50%;
}

.left-\[calc\(50\%_-_197px\)\]{
  left: calc(50% - 197px);
}

.right-0{
  right: 0px;
}

.right-1{
  right: 0.25rem;
}

.right-8{
  right: 2rem;
}

.right-\[0px\]{
  right: 0px;
}

.top-\[0px\]{
  top: 0px;
}

.top-\[15\.5px\]{
  top: 15.5px;
}

.top-\[calc\(50\%_-_258px\)\]{
  top: calc(50% - 258px);
}

.z-\[0\]{
  z-index: 0;
}

.z-\[1\]{
  z-index: 1;
}

.z-\[2147483647\]{
  z-index: 2147483647;
}

.z-\[2\]{
  z-index: 2;
}

.z-\[3\]{
  z-index: 3;
}

.m-0{
  margin: 0px;
}

.m-auto{
  margin: auto;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-\[\!important\]{
  margin-left:  !important;
  margin-right:  !important;
}

.my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-2{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.-mb-4{
  margin-bottom: -1rem;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.mr-4{
  margin-right: 1rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-8{
  margin-top: 2rem;
}

.box-border{
  box-sizing: border-box;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-14{
  height: 3.5rem;
}

.h-40{
  height: 10rem;
}

.h-5{
  height: 1.25rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-9{
  height: 2.25rem;
}

.h-\[14\.42px\]{
  height: 14.42px;
}

.h-\[72px\]{
  height: 72px;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.max-h-96{
  max-height: 24rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.w-14{
  width: 3.5rem;
}

.w-40{
  width: 10rem;
}

.w-5{
  width: 1.25rem;
}

.w-6{
  width: 1.5rem;
}

.w-8{
  width: 2rem;
}

.w-\[12\.09px\]{
  width: 12.09px;
}

.w-\[161px\]{
  width: 161px;
}

.w-\[38px\]{
  width: 38px;
}

.w-\[390px\]{
  width: 390px;
}

.w-\[395px\]{
  width: 395px;
}

.w-\[671px\]{
  width: 671px;
}

.w-\[672px\]{
  width: 672px;
}

.w-full{
  width: 100%;
}

.min-w-\[345px\]{
  min-width: 345px;
}

.min-w-\[630px\]{
  min-width: 630px;
}

.max-w-\[100vw\]{
  max-width: 100vw;
}

.max-w-\[340px\]{
  max-width: 340px;
}

.max-w-\[906px\]{
  max-width: 906px;
}

.flex-1{
  flex: 1 1 0%;
}

.shrink-0{
  flex-shrink: 0;
}

.translate-x-\[-50\%\]{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.list-none{
  list-style-type: none;
}

.grid-cols-\[auto_max-content\]{
  grid-template-columns: auto max-content;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-4{
  gap: 1rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[16px\]{
  gap: 16px;
}

.gap-\[20px\]{
  gap: 20px;
}

.gap-\[32px\]{
  gap: 32px;
}

.gap-\[4px\]{
  gap: 4px;
}

.gap-\[8px\]{
  gap: 8px;
}

.gap-x-\[15px\]{
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.self-stretch{
  align-self: stretch;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-12xs{
  border-radius: 1px;
}

.rounded-29xl{
  border-radius: 48px;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-80xl{
  border-radius: 99px;
}

.rounded-81xl{
  border-radius: 100px;
}

.rounded-9xl{
  border-radius: 28px;
}

.rounded-\[50\%\]{
  border-radius: 50%;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-b-\[1px\]{
  border-bottom-width: 1px;
}

.border-solid{
  border-style: solid;
}

.border-green-400{
  --tw-border-opacity: 1;
  border-color: rgb(74 222 128 / var(--tw-border-opacity));
}

.border-red-400{
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity));
}

.border-shades-of-cadet-gray-cadet-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(200 215 216 / var(--tw-border-opacity));
}

.border-slate-300{
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
}

.bg-\[transparent\]{
  background-color: transparent;
}

.bg-green-100{
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
}

.bg-primary-dark-night\/\[0\.32\]{
  background-color: rgb(17 23 24 / 0.32);
}

.bg-primary-light-baby-powder{
  --tw-bg-opacity: 1;
  background-color: rgb(247 247 242 / var(--tw-bg-opacity));
}

.bg-primary-real-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-red-100{
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
}

.bg-shades-of-cadet-gray-cadet-gray-50{
  --tw-bg-opacity: 1;
  background-color: rgb(243 246 247 / var(--tw-bg-opacity));
}

.bg-shades-of-cadet-gray-cadet-gray-900{
  --tw-bg-opacity: 1;
  background-color: rgb(57 70 71 / var(--tw-bg-opacity));
}

.bg-shades-of-dark-04{
  background-color: rgba(17, 23, 24, 0.04);
}

.bg-shades-of-dark-08{
  background-color: rgba(17, 23, 24, 0.08);
}

.bg-shades-of-light-white-04{
  background-color: rgba(255, 255, 255, 0.04);
}

.bg-shades-of-light-white-88{
  background-color: rgba(255, 255, 255, 0.88);
}

.bg-shades-of-teal-teal-300{
  --tw-bg-opacity: 1;
  background-color: rgb(84 167 176 / var(--tw-bg-opacity));
}

.bg-shades-of-teal-teal-400{
  --tw-bg-opacity: 1;
  background-color: rgb(51 150 161 / var(--tw-bg-opacity));
}

.bg-shades-of-teal-teal-50{
  --tw-bg-opacity: 1;
  background-color: rgb(230 242 243 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0{
  padding: 0px;
}

.p-1{
  padding: 0.25rem;
}

.p-2{
  padding: 0.5rem;
}

.p-3{
  padding: 0.75rem;
}

.p-4{
  padding: 1rem;
}

.p-8{
  padding: 2rem;
}

.p-\[15px\]{
  padding: 15px;
}

.p-\[var\(--viewport-padding\)\]{
  padding: var(--viewport-padding);
}

.px-0{
  padding-left: 0px;
  padding-right: 0px;
}

.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[7px\]{
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-0{
  padding-bottom: 0px;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pl-0{
  padding-left: 0px;
}

.pl-2{
  padding-left: 0.5rem;
}

.pl-2\.5{
  padding-left: 0.625rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pr-0{
  padding-right: 0px;
}

.pr-2{
  padding-right: 0.5rem;
}

.pr-6{
  padding-right: 1.5rem;
}

.pr-8{
  padding-right: 2rem;
}

.pr-\[7px\]{
  padding-right: 7px;
}

.pt-0{
  padding-top: 0px;
}

.pt-4{
  padding-top: 1rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-primary-small-body-h5-medium{
  font-family: Figtree;
}

.font-primary-small-body-h5-semibold{
  font-family: Figtree;
}

.font-roboto-mono{
  font-family: 'Roboto Mono';
}

.font-space-mono{
  font-family: 'Space Mono';
}

.text-3xl{
  font-size: 1.38rem;
}

.text-4xl{
  font-size: 1.44rem;
}

.text-base{
  font-size: 1rem;
}

.text-lgi{
  font-size: 1.19rem;
}

.text-sm{
  font-size: 0.88rem;
}

.text-xs{
  font-size: 0.75rem;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-9{
  line-height: 2.25rem;
}

.leading-\[133\%\]{
  line-height: 133%;
}

.leading-\[150\%\]{
  line-height: 150%;
}

.tracking-tight{
  letter-spacing: -0.025em;
}

.text-\[inherit\]{
  color: inherit;
}

.text-amber-800{
  --tw-text-opacity: 1;
  color: rgb(146 64 14 / var(--tw-text-opacity));
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.text-orange-400{
  --tw-text-opacity: 1;
  color: rgb(251 146 60 / var(--tw-text-opacity));
}

.text-primary-dark-night{
  --tw-text-opacity: 1;
  color: rgb(17 23 24 / var(--tw-text-opacity));
}

.text-primary-real-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-red-700{
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.text-shades-of-cadet-gray-cadet-gray-400{
  --tw-text-opacity: 1;
  color: rgb(160 185 187 / var(--tw-text-opacity));
}

.text-shades-of-cadet-gray-cadet-gray-500{
  --tw-text-opacity: 1;
  color: rgb(136 167 170 / var(--tw-text-opacity));
}

.text-shades-of-cadet-gray-cadet-gray-600{
  --tw-text-opacity: 1;
  color: rgb(124 152 155 / var(--tw-text-opacity));
}

.text-shades-of-light-white-64{
  color: rgba(255, 255, 255, 0.64);
}

.text-shades-of-teal-teal-400{
  --tw-text-opacity: 1;
  color: rgb(51 150 161 / var(--tw-text-opacity));
}

.no-underline{
  text-decoration-line: none;
}

.opacity-0{
  opacity: 0;
}

.opacity-\[0\.8\]{
  opacity: 0.8;
}

.shadow-\[0px_8px_16px_rgba\(31\2c _45\2c _61\2c _0\.24\)\]{
  --tw-shadow: 0px 8px 16px rgba(31, 45, 61, 0.24);
  --tw-shadow-colored: 0px 8px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\[--viewport-padding\:_25px\]{
  --viewport-padding: 25px;
}

.\[border\:none\]{
  border: none;
}

.\[grid-template-areas\:_\'title_action\'_\'description_action\'\]{
  grid-template-areas: 'title action' 'description action';
}

.\[outline\:none\]{
  outline: none;
}

.\[text-decoration\:none\]{
  text-decoration: none;
}

body{
  margin: 0px;
  line-height: normal;
}

*,
::before,
::after {
  border-width: 0;
}

.first-letter\:w-full::first-letter{
  width: 100%;
}

.last\:border-0:last-child{
  border-width: 0px;
}

.hover\:bg-shades-of-dark-04:hover{
  background-color: rgba(17, 23, 24, 0.04);
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.hover\:opacity-70:hover{
  opacity: 0.7;
}

.hover\:opacity-\[0\.8\]:hover{
  opacity: 0.8;
}

.disabled\:cursor-not-allowed:disabled{
  cursor: not-allowed;
}

.disabled\:border-shades-of-teal-teal-50:disabled{
  --tw-border-opacity: 1;
  border-color: rgb(230 242 243 / var(--tw-border-opacity));
}

.disabled\:bg-shades-of-teal-teal-50:disabled{
  --tw-bg-opacity: 1;
  background-color: rgb(230 242 243 / var(--tw-bg-opacity));
}

.disabled\:hover\:cursor-not-allowed:hover:disabled{
  cursor: not-allowed;
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.data-\[swipe\=cancel\]\:translate-x-0[data-swipe=cancel]{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[swipe\=move\]\:translate-x-\[var\(--radix-toast-swipe-move-x\)\][data-swipe=move]{
  --tw-translate-x: var(--radix-toast-swipe-move-x);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.data-\[swipe\=cancel\]\:transition-\[transform_200ms_ease-out\][data-swipe=cancel]{
  transition-property: transform 200ms ease-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
