LOGLEVEL=info
ACCESS_TOKEN=
DIRECTUS_API_TOKEN=
DIRECTUS_API_URL=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=
LOW_TIMER_TRESHOLD=120
PROLONGED_TIMER_TRESHOLD_1=240
PROLONGED_TIMER_TRESHOLD_2=480
PROLONGED_TIMER_SHUTDOWN_TRESHOLD=960