LOGLEVEL=info
LOCALE="Europe/Istanbul"
DEBOUNCE_CONCURRENT_REQUESTS=500
JWT_SECRET=
JWT_EXPIRES="30 days"
ACCESS_TOKEN=
DIRECTUS_API_TOKEN=
DIRECTUS_API_URL=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=
LOW_TIMER_TRESHOLD=120
PROLONGED_TIMER_TRESHOLD_1=240
PROLONGED_TIMER_TRESHOLD_2=420
PROLONGED_TIMER_SHUTDOWN_TRESHOLD=480
MJ_APIKEY_PUBLIC=
MJ_APIKEY_PRIVATE=
MJ_FROM_EMAIL=info@brewww.com
MJ_FROM_NAME="Happy Path
MJ_TEMPLATE_ID=
REPORTS_LOGO_URI=
REPORTS_EMAIL_RECIPENTS=bar@foo.com,foo@bar.com
REPORTS_MAX_NUMBER_OF_PROJECTS_TO_PROCESS=12