API_GRAPHQL_URL=https://app.usehappypath.com/hooks/graphql
API_DIRECTUS_URL="https://app.usehappypath.com/directus"
JWT_SECRET=
JWT_EXPIRES="4w"
TIMEZONE=Europe/Istanbul
LOCALE_CULTURE=en-US
REVALIDATE_DATA_EVERY=60
