API_GRAPHQL_URL=https://app.usehappypath.com/hooks/graphql
JWT_SECRET=
JWT_EXPIRES="30 days"
LOGIN_URI="/auth/login"
LOGOUT_URI="/auth/logout"
TIMEZONE=Europe/Istanbul
LOCALE_CULTURE=en-US
REVALIDATE_DATA_EVERY=60
